@import url('https://fonts.cdnfonts.com/css/seven-segment');
*{
    padding: 0;
    margin: 0;
}

.display{
    width: 32vh;
    height: 8vh;
    border: 2px black solid;
    border-radius: 5px;
    background-color: lightgreen;
    text-align: right;
    margin-bottom: 5px;
}
.display > p{
    padding: 15px;
    line-height: 0;
    font-family: 'Seven Segment', sans-serif;
}
.display>p:first-child{
    font-size: 18px;
}
.display>p:last-child{
    font-size: 24px;
}
.operBtns{
    display: grid;
    grid-template-columns: repeat(4, 8vh);
    grid-template-rows: repeat(4, 8vh);
}
.backBtns{
    display: grid;
    grid-template-columns: repeat(2, 16vh);
    grid-template-rows: repeat(1, 8vh);
}
button{
    margin: 0.5vh;
    border: 2px black solid;
    border-radius: 5px;
    font-size: larger;
    background-color: rgb(245, 245, 245);
}
button:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);
}
.calculatorCont{
    display: flex;
    flex-direction: column;
    border: 4px black solid;
    border-radius: 20px;
    width: max-content;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: gray;
}

.controlBtns{
    font-size: 1.5rem;
}

.orng{
    /* background-color: rgb(228, 107, 107); */
    font-weight: 900;
}